.home-logo
	margin: 0 auto
	margin-bottom: 15px
	max-width: 250px
	max-height: 250px

.home-news
	img
		margin: 0 auto
		margin-top: 40px
		margin-bottom: 40px

	.panel
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.55)

		.panel-body 
			img
				margin: auto
				margin-bottom: 10px
				width: 100%
				max-width: 300px
				height: 150px

			button
				display: block
				margin: 0 auto

			a
				text-decoration: none

.home-projects
	img
		margin: 0 auto
		margin-top: 40px
		margin-bottom: 40px

	.nav-tabs
		border: 1px solid #ddd
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.55)

		li.active
			a
				background-color: #ddd
				border-bottom-color: #ddd

				&:hover, &:active, &:focus
					border-bottom-color: #ddd

	.tab-content
		.tab-pane
			padding: 20px
			border: 1px solid #ddd
			margin-bottom: 20px
			background-color: white
			box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.55)

			img
				max-height: 300px
				margin: 0 auto

			p
				text-align: justify

			button
				display: block
				margin: 0 auto

			a
				text-decoration: none

			h4
				text-align: center