.navbar
	background-color: white
	box-shadow: 0px 1px 10px black

	.navbar-brand
		display: flex
		flex-direction: row
		align-items: center

header.home-header
	.carousel-control
		background: none

	.bg1
		background:
			image: url(../img/udruga/land1.JPG)
			size: cover
			position: center
		height: 85vh

	.bg2
		background:
			image: url(../img/udruga/land2.JPG)
			size: cover
			position: center
		height: 85vh

	.bg3
		background:
			image: url(../img/udruga/land3.jpg)
			size: cover
			position: center
		height: 85vh


	.flex-container
		position: relative
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		color: white
		overflow: hidden
		//filter: grayscale(0)
		padding: 5px
		height: 100%

		.parallax-title
			font-size: 40px
			text-align: center
			padding: 10px 15px
			background:
				color: transparentize(black, 0.5)
			border-radius: 15px