.projekt

	img
		max-height: 50vh
		margin: 20px auto 0 auto

	.projekt-body
		//background-color: #c2c2c2
		margin: 20px 0
		padding: 20px 0
		max-width: 100%
		z-index: 1

.projekti
	.svaki
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		//border-bottom: 1px solid #262626
		padding-bottom: 20px
		margin-bottom: 20px

		&:last-child
			border: 0
			margin-bottom: 0
			padding: 0

		@media(max-width:768px)
			display: block

		.info-first
			order: -1

		.slika 
			img
				max-height: 500px

		.projekt-info
			padding: 20px

header.projects-header
	position: relative
	background:
		color: white
		attachment: fixed
	padding: 40px 20px
	margin-bottom: 20px

	a
		text-decoration: none
		color: black

	.flex-container
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: space-between