.vijest
	//margin-top: 70px

	.vijest-banner
		margin: 20px auto
		max-height: 40vh
		max-width: 100%

	.vijest-body
		background-color: #c2c2c2
		margin: 20px 0
		padding: 20px 0
		max-width: 100%
		z-index: 1

header.news-header
	background:
		image: url('../img/news.jpg')
		size: cover
		position: center
		attachment: fixed
	height: 30vh