// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "includes/dropzone";
@import "includes/nav";
@import "includes/footer";
*{
	outline: none;
}
body{
	margin-top:50px;
	margin-bottom: 20px;
}