// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic);
@import "includes/dropzone";
@import "includes/lightbox";
@import "includes/sweetalert";
@import "includes/nav";
@import "includes/footer";
@import "includes/home";
@import "includes/vijest";
@import "includes/projekt";
@import "includes/gallery";
@import "includes/letter";
@import "includes/pages";
@import "includes/profile";
@import "includes/admin";
@import "includes/pace";
*{
	outline: none;
	box-sizing: border-box
}
body{
	font-family: "Open Sans", sans-serif;
	background: #eee;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.all-content{
	margin-top: 50px;
	flex: 1;
}